body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* centro le immagini orizzontalmente*/
img {
    display: block;
    margin: auto;
    width: 70%;
}

/* contenitore per tutta la vetrina */
.vetrina {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    width: 60%;
}

/* contenitore per una riga di prodotti */
.riga {
    position: relative;
}

/* contenitore per un singolo prodotto */
.panel {
    background-color: #f2f2f2;
    margin-bottom: 15px;
    height: 280px;
    width: 32%;
}

.panel-left {
    position: relative;
}

.panel-center {
    position: absolute;
    top: 0px;
    left: 33.33%;
}

.panel-right {
    position: absolute;
    top: 0px;
    left: 66.66%;
}

.badge {
    color: black;
    height: 30px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    /* allineo verticalmente il testo */
    line-height: 30px;
    /* allineo orizzontalmente il testo */
    text-align: center;
}

.bcg-green {
    background: green;
}

.bcg-red {
    background: red;
}

.preferred {
    position: absolute;
    bottom: 5px;
    right: 45%;
    font-size: 200%;
    visibility: hidden;
}

.panel:hover .preferred {
    color: red;
    visibility: visible;
}