body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* centro le immagini orizzontalmente*/
img {
    /* ridimensiono immagine */
    width: 70%;
}

.bcg-green {
    background: green;
}

.bcg-red {
    background: red;
}

/* contenitore per tutta la vetrina */
.vetrina {
    background-color: #ffffff;
    margin: auto;
    width: 80%;
}

/* contenitore per una riga di prodotti */
.riga {
    /* all'inerno della riga centro le 3 immagini affiancate */
    text-align: center;
}

/* contenitore per un singolo prodotto */
.panel {
    background-color: #f2f2f2;
    /* do' un po di margine superiore e inferiore ai 3 pannelli */
    margin: 15px 0;
    height: 280px;
    display: inline-block;
    position: relative;
}

/* badge che mostra lo sconto */
.badge {
    color: black;
    height: 30px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    /* allineo verticalmente il testo */
    line-height: 30px;
    /* allineo orizzontalmente il testo */
    text-align: center;
}

.preferred {
    position: absolute;
    bottom: 5px;
    right: 45%;
    font-size: 200%;
    visibility: hidden;
}

.panel:hover .preferred {
    color: red;
    visibility: visible;
}