body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* centro le immagini orizzontalmente*/
img {
    display: block;
    margin: auto;
    width: 70%;
}

.vetrina {
    background-color: #ffffff;
    margin: auto;
    width: 60%;
}

.riga {
    position: relative;
}

.panel {
    background-color: #f2f2f2;
    margin-bottom: 15px;
    height: 280px;
    width: 32%;
    /* ha z-index più alto di tutti */
    z-index: 30;
}

.panel-left {
    position: relative;
}

.panel-center {
    position: absolute;
    top: 0px;
    left: 33.33%;
}

.panel-right {
    position: absolute;
    top: 0px;
    left: 66.66%;
}

.badge {
    color: black;
    height: 30px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    /* allineo verticalmente il testo */
    line-height: 30px;
    /* allineo orizzontalmente il testo */
    text-align: center;
    /* z-index: -10; */
}

.bcg-green {
    background: green;
}

.bcg-red {
    background: red;
}

.heart {
    color: red;
    font-size: 200%;
    position: absolute;
    bottom: 30px;
    /* inizialmente ha index inferiore al suo contenitore panel */
    /* per cui non sarà visibile */
    z-index: 20;
}

.heart-left {
    right: 82%;
}

.heart-center {
    right: 49%;
}

.heart-right {
    right: 15%;
}

.panel:hover {
    /* cambio index del panel cosicchè, */
    /* heart possa apparire */
    z-index: 10;
}